[submodule "HBDataSet"]
	path = externals/hbdataset
	url = git@gitlab.com:higgsbounds/hbdataset.git
[submodule "HSDataSet"]
	path = externals/hsdataset
	url = git@gitlab.com:higgsbounds/hsdataset.git
[submodule "ScannerS"]
	path = externals/ScannerS
	url = git@gitlab.com:jonaswittbrodt/ScannerS.git
[submodule "HiggsTools"]
	path = externals/higgstools
	url = git@gitlab.com:higgsbounds/higgstools.git
