[submodule "hbdataset"]
	path = data/hbdataset
	url = git@gitlab.com:higgsbounds/hbdataset.git
[submodule "hsdataset"]
	path = data/hsdataset
	url = git@gitlab.com:higgsbounds/hsdataset.git
[submodule "ScannerS"]
	path = externals/ScannerS
	url = git@gitlab.com:jonaswittbrodt/ScannerS.git
[submodule "higgstools"]
	path = externals/higgstools
	url = git@gitlab.com:higgsbounds/higgstools.git
