[submodule "data/hbdataset"]
	path = data/hbdataset
	url = git@gitlab.com:higgsbounds/hbdataset.git
[submodule "data/hsdataset"]
	path = data/hsdataset
	url = git@gitlab.com:higgsbounds/hsdataset.git
[submodule "ScannerS"]
	path = ScannerS
	url = git@gitlab.com:jonaswittbrodt/ScannerS.git
[submodule "higgstools"]
	path = higgstools
	url = git@gitlab.com:higgsbounds/higgstools.git
