blessings==1.7
certifi==2024.12.14
diptest==0.8.0
idna==3.10
matplotlib==3.9.3
numpy==2.2.0
packaging==24.0
pandas==2.2.3
prettytable==3.10.0
PyYAML==6.0.2
requests==2.32.3
scipy==1.14.1
six==1.16.0
urllib3==2.3.0
