#!/bin/bash

# Set up environment
source env.sh

# Activate virtual environment
source $TRSM_VENV_PATH/bin/activate

# Run the scan script
scan.py -X {{ xmass }} -S {{ smass }} -m {{ model }} -d {{ decay }} -n {{ npoints }} -s {{ strategy }}

